In [1]:
import pandas as pd

In [13]:
weathers = []
for i in range(13):
    weather = pd.read_excel('weather_data_nyc_centralpark_2015.xlsx',sheet_name=i,header=None)
    weathers.append(weather)

In [14]:
weathers = pd.concat(weathers,axis=0)

In [27]:
weathers_2015 = weathers.rename({0:'date',1:'maximum_temperature',2:'min_temperature',\
                 3:'average_temperature',4:'temprature_departure',5:'HDD',\
                 6:'CDD',7:'Precipitation',8:'new_snow',
                9:'snow_depth'}, axis=1)

In [30]:
weathers_2015 = weathers_2015.replace('T',0.01)

In [34]:
weathers_2015[['Precipitation','new_snow','snow_depth']] = weathers_2015[['Precipitation','new_snow','snow_depth']].apply(pd.to_numeric)

In [35]:
weathers_2015.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 396 entries, 0 to 30
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  396 non-null    datetime64[ns]
 1   maximum_temperature   396 non-null    int64
 2   min_temperature       396 non-null    int64
 3   average_temperature   396 non-null    float64
 4   temprature_departure  396 non-null    float64
 5   HDD                   396 non-null    int64
 6   CDD                   396 non-null    int64
 7   Precipitation         396 non-null    float64
 8   new_snow              396 non-null    float64
 9   snow_depth            396 non-null    float64
dtypes: datetime64[ns](1), float64(5), int64(4)
memory usage: 34.0 KB

In [36]:
weathers_2015.head()

,date,maximum_temperature,min_temperature,average_temperature,temprature_departure,HDD,CDD,Precipitation,new_snow,snow_depth
0,2015-01-01,40,26,33.0,2.0,32,0,0.00,0.0,0.0
1,2015-01-02,44,31,37.5,6.6,27,0,0.00,0.0,0.0
2,2015-01-03,43,28,35.5,4.8,29,0,0.51,1.1,0.0
3,2015-01-04,54,36,45.0,14.4,20,0,0.43,0.0,0.0
4,2015-01-05,51,19,35.0,4.6,30,0,0.00,0.0,0.0